body{
    font-family: 'Prompt', sans-serif;
}
.intro-section{
    display: flex;
    width: 100%;
}
.intro-width{
    display: inline-block ;
    width: 50%;
}
.shapes{
    position: relative;
    top: 0;
    right: 0;
}
.girls-eating{
    position: absolute;
    top: 0;
}