body{
    font-family: 'Prompt', sans-serif;
   

}
.intro-section{
    display: flex;
    width: 100%;
}
.intro-width{
    position: relative;
    width: 50%;
}
.about-me{
    background-image: url("https://i.imgur.com/SOfHvn8.png");
    height: 400px;
    width: 100%;
}