body{
    font-family: 'Prompt', sans-serif;
    background-color: whitesmoke;
    
}
.intro-section{
    display: flex;
    width: 100%;
}
.intro-width{
    position: relative;
    width: 50%;
    
}
.intro-word{
    color: yellowgreen;
}
.about-me{
    background-image: url("https://i.imgur.com/SOfHvn8.png");
    height: 400px;
    width: 100%;
    display:flex;
}
.half-width{
    width: 50%;
    margin: 50px;
}
.person-image{
    width: 29%;
    height: 320px;
    margin-top: 10%;
    margin-left: 35%;
}
.about-text{  
    margin: 20% 20% -10% 5%;
}
.about-text p{
    font-size: 12px;
}
.about-text h1{
    font-size: 30px;
}
a{
    text-decoration: none;
}
.my-recipies{
    text-align: center;
    padding: 10%;
}
.food-cart{
    display:flex;
    height: 20px;
    margin: 10px;
}
.box-item{
    margin: auto 15px;
    width: 30%;
    height: 500px;
    border: 1px solid ghostwhite;
    border-radius: 15px;
    box-shadow: -2px -4px 8px 6px rgba(167, 167, 173, 0.3);
    position: relative;

}
.dish{
    padding-top: 11px;
    padding-left: 11px;
}
.box-text{
    text-align: left;
    padding: 7px;
}
.social-user{
    overflow: hidden ;
    display: flex;
    margin-top: 550px;
    margin-left: 2.5%;
    margin-bottom: 50px;
    width: 95%;
    height: 150px;
    border: 1px solid rgb(241, 240, 231);
    border-radius: 20px;
    box-shadow: -2px -2px 10px 5px rgba(233, 230, 227, 0.767);
    
}
.social-count{
    margin-top: 2%;
    margin-left: 19%;
    
}
.feedback-section{
    display: flex;
    width: 100%;
}
.half-feedback{
    display: flex;
    width: 100%;
    height: 260px;
    border: 3px solid ghostwhite ;
    box-shadow: -3px 2px 5px 5px rgba(240, 235, 235, 0.925);
    border-radius: 6%;
    margin-left: 1%;
    margin-right: 4%;
    margin-bottom: 20px;
    padding-right:2%;
    overflow: hidden;  
}
.customer-thought{
    font-family: 'Yomogi', cursive ;
    font-size: 700px;
    color: yellowgreen;
    display: block-block;
    text-align: center;
    margin: 20px;
    font-weight: normal;
    font-size: 15px;
}
.customer-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 5%; 
}
.customer-text{
    text-align: left;
    padding-left: 20px;    
}
.footer-color{
    width: 100%;
    height: 300px;
    background-color: darkslateblue;
    
}
.footer-text{
    font-size: 30px;
    font-weight: normal;
    color: rgb(129, 160, 170);
    text-align: center;
    padding-top: 2%;
}
.footer-text span{
    color: orangered;
}
.footer-text p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 3;
    font-size: 17px;
    color: white;
    